<h1>All Workout Plans</h1>

<% @workout_plans.each do |workout_plan| %>
    <h2><%= link_to workout_plan.routine.name, workout_plan%></h2>
<% end %>

<button class="new-button">
    <%= link_to "New Workout Plan", new_workout_plan_path %>
</button