
<h2>Routines Create by: <%= @workout_plan.personal_trainer.name%></h2>


    <h3><%= link_to "#{@workout_plan.routine.name}", @workout_plan.routine %></h3>


<button>
    <%= link_to 'Delete', workout_plan_path(@workout_plan.id),method: :delete, data: { confirm: 'Are you sure you want to delete this Workout Plan?'} %>
</button> |

<button>
    <%= link_to "Back", workout_plans_path %>
</button> 