<h2> Written by: <%= @review.client.name%> </h2>
<h3> Review Content: <%= @review.content %></h3>
<button>
<%= link_to  "Edit Review", edit_review_path %><br>
</button>
<button>
<%= link_to("Delete Review", review_path(@review.id), method: :delete, data: {confirm: "Are you sure you want to delete this Review?"}) %>
</button>